<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Lets_Go</servlet-name>
        <servlet-class>Test.Lets_Go</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMain</servlet-name>
        <servlet-class>com.internet_banking.LoginMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Main</servlet-name>
        <servlet-class>com.internet_banking.Login_Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banker_Registration</servlet-name>
        <servlet-class>com.internet_banking.Banker_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mainlogin</servlet-name>
        <servlet-class>com.internet_banking.Mainlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lets_Go</servlet-name>
        <url-pattern>/Lets_Go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banker_Registration</servlet-name>
        <url-pattern>/Banker_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mainlogin</servlet-name>
        <url-pattern>/Mainlogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
